<html>
  <body>
    <h1>Mã giảm giá sắp tới!</h1>
    <p>
      Mã giảm giá
      <b>{{discountCode}}</b>
      sẽ có hiệu lực từ ngày
      <b>{{validFrom}}</b>.
    </p>
    <p>Hãy sẵn sàng sử dụng ngay nhé!</p>
  </body>
</html>
